[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile
[submodule "setup/Arduino-Makefile"]
	path = setup/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile
