[submodule "lib/ODrive"]
	path = lib/ODrive
	url = git@github.com:madcowswe/ODrive.git
[submodule "lib/LSM9DS1_RaspberryPi_Library"]
	path = lib/LSM9DS1_RaspberryPi_Library
	url = https://github.com/akimach/LSM9DS1_RaspberryPi_Library
